$white: #ffffff;
$black: #333333;
$green: #28a745;
$light-gray: #f7f7f7;
$gold: #ffc107;
$navy-blue: #1b2a49;
$red: #dc3545;

$font-family-primary: 'Slackey', serif;
$font-family-secondary: 'Averia Serif Libre', serif;
